@model IEnumerable<ElectroMVC.Models.Brand>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>List Of Brand</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="w3-table-all">
    <thead>
      <tr class="w3-light-grey">
            <th>@Html.DisplayNameFor(model => model.BrandName)</th>
            <th>@Html.DisplayNameFor(model => model.BrandDescription)</th>
            <th>@Html.DisplayNameFor(model => model.BrandOrder)</th>
            <th>Actions</th>
      </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
            <td>@Html.DisplayFor(modelItem => item.BrandName)</td>
            <td>@Html.DisplayFor(modelItem => item.BrandDescription)</td>
            <td>@Html.DisplayFor(modelItem => item.BrandOrder)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BrandId" class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BrandId" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BrandId" class="btn btn-danger">Delete</a>
            </td>
    </tr>
}
  </table>
